* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}
.carousel-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.images {
    position: relative;
}

.image {
    display: none;
    width: 900px;
    height: 450px;
    object-fit: cover;  
}

.btn {
    position: absolute;
    background-color: lightgray;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}


.up {   
    bottom: 5px;
    right: 51%;
} 

.down {
    bottom: 5px;
    left: 51%;
}

.show {
    display: block;
}